<div *ngIf="toggleChatPanel" class="card" style="position: fixed; z-index: 1030; bottom: 110px; left: 50px; min-width: 200px; max-width: 400px; min-height: 400px; max-height: 400px">
  <div class="card-body d-flex flex-column justify-content-between">
    <div (drop)="handleDrop($event)" (dragover)="handleDragOver($event)" class="p-1 d-flex flex-column-reverse" style="overflow-y: auto; height: 300px" #chatbox>
      <div></div>
      <p *ngFor="let m of messagesList">
        <ng-container *ngIf="m.requestType==='chat'">
          {{m.message.message}} <br>
        </ng-container>
        <ng-container *ngIf="m.requestType==='chat-selection-group'">
          <span class="badge bg-danger" (click)="searchChatSelectionGroup(m.message)">{{m.message.title}}</span> <br>
        </ng-container>
        <ng-container *ngIf="m.requestType==='chat-selection-single'">
          <span class="badge bg-danger" (click)="searchChatSelectionSingle(m.message)">{{m.message.title}}</span> <br>
        </ng-container>
        <small class="text-sm-end text-muted" style="font-size: 10px">{{senderMap[m.senderID]}} - {{m.message.timestamp|date:'short'}}</small>
      </p>
    </div>
    <div class="p-1">
      <form [formGroup]="form" (ngSubmit)="sendMessage()">
        <input class="form-control" formControlName="message">
      </form>
    </div>
  </div>
</div>


<div class="float-start" style="position: fixed; z-index: 1030; bottom: 50px; left: 50px">
  <button class="btn btn-sm btn-outline-info" (click)="toggleChat()">
    <span class="bi bi-chat"></span>
  </button>
</div>
