<plotly-plot divId="scatterplot"
             [data]="graphData"
             [layout]="graphLayout"
             [config]="{responsive:true}"
             [updateOnDataChange]="true"
             [updateOnLayoutChange]="true"
             (plotlyClick)="selectData($event)"
             (update)="plotUpdated($event)"
             (relayout)="changeLayout($event)"
             (afterPlot)="finishPlot($event)"
></plotly-plot>

<div class="container mx-auto" *ngIf="afterPlotTrigger">
  <div class="row">
    <div class="col-3">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-sm btn-primary" id="currentDataAction" ngbDropdownToggle>
          Volcano Plot Actions
        </button>
        <div ngbDropdownMenu aria-labelledby="currentDataAction">
          <div class="form-group px-4 py-3">
            <label for="customTitle">Custom Title:</label>
            <input type="text" id="customTitle" class="form-control" [(ngModel)]="customTitle" (focusout)="updateTitle($event)">
          </div>
          <button ngbDropdownItem (click)="downloadPlotlyExtra('svg')">
            Download SVG
          </button>
          <button ngbDropdownItem (click)="downloadCurrentData()">
            Download current data in CSV
          </button>
          <button ngbDropdownItem (click)="downloadSignificantData()">
            Download significant data in CSV
          </button>
          <button ngbDropdownItem (click)="selectCurrentData()">
            Select current data
          </button>
          <button ngbDropdownItem (click)="openColorChange()">
            Change marker color
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-sm btn-primary" (click)="customCurve(customCurv)">Custom FDR Curve</button>
      <button class="btn btn-sm btn-danger" (click)="removeCurve()" *ngIf="drawFDRCurve">Remove FDR Curve</button>
    </div>

    <div class="col-2">
      <input id="xaxis-scale" type="checkbox" class="form-check-input" (change)="changeXaxis($event)" [(ngModel)]="xaxisLog">
      <label class="form-check-label" for="xaxis-scale">
        Log2 X-axis
      </label>
    </div>
  </div>

</div>

<ng-template #customCurv let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Custom FDR Curve</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="entryList" class="sr-only">Custom FDR Curve Data Table (require x and y columns)</label>
      <textarea class="form-control" id="entryList" [(ngModel)]="fdrCurveText" rows="5"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updatePlotWithFDRCurve(modal)">Submit</button>
  </div>
</ng-template>
