<div class="card">
  <div class="card-body">
    <h5 class="card-title">Network Parameters</h5>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">StringDB</h5>
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <label for="stringNT">StringDB Network Type</label>
              <select formControlName="networkType" class="form-control" id="stringNT">
                <option value="functional">
                  Functional
                </option>
                <option value="physical">
                  Physical
                </option>
              </select>
            </div>
            <div class="col">
              <label for="string">Required Combined Score (Max = 1)</label>
              <input formControlName="requiredScore" class="form-control" id="string" type="number">
            </div>
            <div class="col">
              <label for="stringT">Required T-Score Score (Max = 1)</label>
              <input formControlName="tscore" class="form-control" id="stringT" type="number">
            </div>
          </div>
        </form>
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <label for="stringA">Required A-Score Score (Max = 1)</label>
              <input formControlName="ascore" class="form-control" id="stringA" type="number">
            </div>
            <div class="col">
              <label for="stringD">Required D-Score Score (Max = 1)</label>
              <input formControlName="dscore" class="form-control" id="stringD" type="number">
            </div>
            <div class="col">
              <label for="stringE">Required E-Score Score (Max = 1)</label>
              <input formControlName="escore" class="form-control" id="stringE" type="number">
            </div>
          </div>
        </form>
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <label for="stringF">Required F-Score Score (Max = 1)</label>
              <input formControlName="fscore" class="form-control" id="stringF" type="number">
            </div>
            <div class="col">
              <label for="stringN">Required N-Score Score (Max = 1)</label>
              <input formControlName="nscore" class="form-control" id="stringN" type="number">
            </div>
            <div class="col">
              <label for="stringP">Required P-Score Score (Max = 1)</label>
              <input formControlName="pscore" class="form-control" id="stringP" type="number">
            </div>
          </div>
        </form>

      </div>
    </div>
    <form [formGroup]="form">
      <div class="row">
        <div class="col">
          <label for="atlasScore">Interactome Required Score (Max = 1)</label>
          <input formControlName="atlasScore" class="form-control" id="atlasScore" type="number" max="1">
        </div>
      </div>
    </form>

  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-primary" (click)="getInteractions()">Redraw</button>
  </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
  <button class="btn btn-primary" (click)="saveNetwork()">Save current network configuration</button>
<!--  <button class="btn btn-primary" (click)="cytoplot.download()">Download as SVG</button>-->
  <app-comparison-selections (selection)="handleSelection($event)"></app-comparison-selections>
</div>
<div class="row">
  <div class="col-3">
    <form [formGroup]="form">
      <table class="table table-bordered mt-2">
        <thead>
        <tr>
          <th scope="col">
            Color
          </th>
          <th scope="col">
            Description
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input formControlName="Increase" (colorPickerChange)="updateColor($event, 'Increase')" class="form-control" [(colorPicker)]="colorMap['Increase']" [style.background]="colorMap['Increase']">
          </td>
          <td>Fold change > 0 (node)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="Decrease" (colorPickerChange)="updateColor($event, 'Decrease')" class="form-control" [(colorPicker)]="colorMap['Decrease']" [style.background]="colorMap['Decrease']">
          </td>
          <td>Fold change < 0 (node)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="No change" (colorPickerChange)="updateColor($event, 'No change')" class="form-control" [(colorPicker)]="colorMap['No change']" [style.background]="colorMap['No change']">
          </td>
          <td>{{-settings.settings.log2FCCutoff}} < Fold change < {{settings.settings.log2FCCutoff}} (node)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="Significant" (colorPickerChange)="updateColor($event, 'Significant')" class="form-control" [(colorPicker)]="colorMap['Significant']" [style.background]="colorMap['Significant']">
          </td>
          <td>pvalue <= {{settings.settings.pCutoff}} (text)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="Not significant" (colorPickerChange)="updateColor($event, 'Not significant')" class="form-control" [(colorPicker)]="colorMap['Not significant']" [style.background]="colorMap['Not significant']">
          </td>
          <td>pvalue > {{settings.settings.pCutoff}} (text)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="StringDB" (colorPickerChange)="updateColor($event, 'StringDB')" class="form-control" [(colorPicker)]="colorMap['StringDB']" [style.background]="colorMap['StringDB']">
          </td>
          <td>StringDB interaction (edge)</td>
        </tr>
        <tr>
          <td>
            <input formControlName="InteractomeAtlas" (colorPickerChange)="updateColor($event, 'InteractomeAtlas')" class="form-control" [(colorPicker)]="colorMap['InteractomeAtlas']" [style.background]="colorMap['InteractomeAtlas']">
          </td>
          <td>Interactome Atlas interaction (edge)</td>
        </tr>
        </tbody>
      </table>
    </form>

    <table class="table table-bordered table-striped mt-2" *ngIf="edgeDataViewer[edgeDataSource]">
      <thead>
      <tr>
        <th scope="col">
          Properties
        </th>
        <th scope="col">
          Values
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="edgeDataSource==='stringdb';else interactome">
        <tr>
          <td>Node A</td>
          <td>{{edgeDataViewer[edgeDataSource]["preferredName_A"]}}</td>
        </tr>
        <tr>
          <td>Node B</td>
          <td>{{edgeDataViewer[edgeDataSource]["preferredName_B"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="coexpression score (derived from similar pattern of mRNA expression measured by DNA arrays and similar technologies)">A-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["ascore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="database score (derived from curated data of various databases)">D-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["dscore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="experimental score (derived from experimental data, such as, affinity chromatography)">E-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["escore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="fusion score (derived from fused proteins in other species)">F-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["fscore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="neighborhood score, (computed from the inter-gene nucleotide count)">N-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["nscore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="cooccurence score of the phyletic profile (derived from similar absence/presence patterns of genes)">P-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["pscore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="textmining score (derived from the co-occurrence of gene/protein names in abstracts)">T-score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["tscore"]}}</td>
        </tr>
        <tr>
          <td><span ngbTooltip="combined score is computed by combining the probabilities from the different evidence channels and corrected for the probability of randomly observing an interaction">Score</span></td>
          <td>{{edgeDataViewer[edgeDataSource]["score"]}}</td>
        </tr>
      </ng-container>
      <ng-template #interactome>
        <ng-container>
          <tr>
            <td>Node A</td>
            <td>{{edgeDataViewer[edgeDataSource]["interactor_A"]["protein_gene_name"]}}</td>
          </tr>
          <tr>
            <td>Node B</td>
            <td>{{edgeDataViewer[edgeDataSource]["interactor_B"]["protein_gene_name"]}}</td>
          </tr>
          <tr>
            <td>Score</td>
            <td>{{edgeDataViewer[edgeDataSource]["score"]}}</td>
          </tr>
        </ng-container>
      </ng-template>
      </tbody>
    </table>
  </div>
  <div class="col-9">
    <app-cytoplot #cytoplot [dimensions]="{width: 1200, height: 700}"  [drawData]="result" (clickedID)="handleSelect($event)" (ready)="saveNetwork()"></app-cytoplot>
  </div>
</div>
