<ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [columnMode]="'force'"
  [rowHeight]="50"
  [headerHeight]="30"
  [footerHeight]="110"
  [selectionType]="selection"
  [selected]="selected"
  [sortType]="sortType"
  (select)="handleSelect($event)"
  [limit]="20"
  #mydatatable
>
  <ngx-datatable-column
    [resizeable]="true"
    [draggable]="true"
    [sortable]="false"
    name="Proteins"
    [canAutoResize]="true"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      {{row.Proteins}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [resizeable]="true"
    [draggable]="true"
    [sortable]="false"
    name="Gene names"
    [canAutoResize]="true"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      {{getGene(row.Proteins)}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [resizeable]="true"
    [draggable]="true"
    [sortable]="false"
    name="Log2FC"
    [canAutoResize]="true"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      {{row.logFC.toFixed(2)}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [resizeable]="true"
    [draggable]="true"
    [sortable]="false"
    name="P-value"
    [canAutoResize]="true"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      {{row.pvalue.toFixed(4)}}
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
