<ngb-toast
  *ngFor="let toast of toastService.toasts"
  [autohide]="true"
  [delay]="toast.delay || 10000"
  (hidden)="toastService.remove(toast)" [ngClass]="toast.type === 'info' ? 'bg-primary text-light' : toast.type === 'success' ? 'bg-success text-light' : toast.type === 'warning' ? 'bg-warning text-light' : 'bg-danger text-light'"
>
  <div class="d-flex">
    <div class="p-2">
      <b>{{toast.header}}: </b>{{toast.body}}
    </div>
    <div class="p-2">
      <button type="button" class="btn btn-close" aria-label="Close" (click)="toastService.remove(toast)"></button>
    </div>
  </div>
</ngb-toast>
