<div class="modal-header">
  <h5 class="modal-title">Encryption Settings</h5>
</div>
<div class="modal-body">
  <form>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="encryption-checkbox" [(ngModel)]="enabled" [ngModelOptions]="{standalone: true}">
      <label class="form-check-label" for="encryption-checkbox">
        Enable encryption
      </label>
    </div>
    <small class="form-text text-muted">If enabled, all of user imported data as well as selection settings and uniprot metadata will be encrypted before being sent to the server. This would ensure that no one but the holder of the private key can decrypt and view the session. It is the responsibility of the user to keep the private key safe or the data would be unrecoverable. This would also disable the function that allow comparing data from different sessions with this data.</small>

    <ng-container *ngIf="enabled">
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="publicKey" (change)="handleFileImport($event, 'Public Key')">
        <label class="input-group-text" for="publicKey">Public Key</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="public-key-checkbox" [(ngModel)]="savePublicKey" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="public-key-checkbox">
          Save public key to browser local storage to be used as default
        </label>
      </div>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="privateKey" (change)="handleFileImport($event, 'Private Key')">
        <label class="input-group-text" for="privateKey">Private Key</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="private-key-checkbox" [(ngModel)]="savePrivateKey" [ngModelOptions]="{standalone: true}">
        <label class="form-check-label" for="private-key-checkbox">
          Save private key to browser local storage to be used as default
        </label>
      </div>
    </ng-container>
    <div class="alert alert-info">
      <p>Encryption is done entirely on the client-side where the browser will generate a AES-GCM key 256-bit length. This key will be use to encrypt the data before saving on Curtain server. Then the key will also be encrypted using the provided public key. The encrypted key would also be saved on the server together with the data. Due to the encrypted nature of the key, Curtain will be unable to utilize it without the private key thus the session will only be decrypted and viewable on the web browser with the appropriate private key.</p>
    </div>
    <div class="alert alert-danger">
      <p>Avoid sharing private key. If you are expecting an encrypted session from another, it is good practice to share your public key and have the creator of the session encrypted it using your public key.</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="generateKeys()">Generate RSA Key Pair</button>
  <button type="button" class="btn btn-danger" (click)="testEncryption()" *ngIf="private_key&&public_key">Test</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-danger" (click)="clearKeys()">Remove Keys From Browser</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
