.interactive-network-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  &:focus {
    outline: 2px solid #0d6efd;
    outline-offset: 2px;
  }

  :host ::ng-deep svg {
    cursor: default;
  }

  :host ::ng-deep .nwnodecontainer {
    cursor: move;

    &.keyboard-focused {
      outline: 3px solid #0d6efd;
      outline-offset: 2px;

      circle,
      ellipse,
      rect {
        filter: drop-shadow(0 0 4px #0d6efd);
      }
    }
  }

  :host ::ng-deep .nwlinkwrapper {
    cursor: pointer;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
