.interactive-network-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  :host ::ng-deep svg {
    cursor: default;
  }

  :host ::ng-deep .nwnodecontainer {
    cursor: move;
  }

  :host ::ng-deep .nwlinkwrapper {
    cursor: pointer;
  }
}
