.color-input {
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
  font-size: 0.75rem;
}

.accordion-button {
  &:not(.collapsed) {
    background-color: var(--bs-primary);
    color: white;

    &:focus {
      box-shadow: none;
    }
  }
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.alert-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}
