<div class="modal-header">
  <h4 class="modal-title" id="proteomicsDB">AlphaFold Predicted Structure</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-4">
      <div class="card mr-2">
        <img class="card-img-top" src="{{alignmentError}}" height="350" alt="card alignment error">
        <div class="card-body">
          <p class="card-text">
            Gene name: {{geneName}} <br>
            Entry ID: {{entryID}} <br>
            PDB File: <a [href]="link">Download</a><br>
            Model Created Date: {{modelCreatedDate}}<br>
            Version: {{version}}<br>
            Original Source: <a href="https://alphafold.ebi.ac.uk/entry/{{data}}" target="_blank">Link</a> <br>
            EBI AlphaFold Predicted Structure Database
          </p>
        </div>
      </div>
      <div class="card mr-2 mt-2">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">Color</th>
              <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td style="background-color: rgb(0, 83, 214);"></td>
              <td>Very high (pLDDT &gt; 90)</td>
            </tr>
            <tr>
              <td style="background-color: rgb(101, 203, 243);"></td>
              <td>Confident (90 &gt; pLDDT &gt; 70)</td>
            </tr>
            <tr>
              <td style="background-color: rgb(255, 219, 19);"></td>
              <td>Low (70 &gt; pLDDT &gt; 50)</td>
            </tr>
            <tr>
              <td style="background-color: rgb(255, 125, 69);"></td>
              <td>Very low (pLDDT &lt; 50)</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card" style="height: 100%; width: 100%">
        <div id="molstar"></div>
      </div>

    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
