<div class="modal-header">
  <h4 class="modal-title" id="proteomicsDB">AlphaFold Predicted Structure</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="ml-2 mt-2 row">
  <div class="col-4">
    <div class="card mr-2">
      <img class="card-img-top" src="{{alignmentError}}" height="350" alt="card alignment error">
      <div class="card-body">
        <p class="card-text">
          Entry ID: {{entryID}} <br>
          PDB File: <a [href]="link">Download</a><br>
          Model Created Date: {{modelCreatedDate}}<br>
          Version: {{version}}<br>
          Original Source: <a href="https://alphafold.ebi.ac.uk/entry/{{data}}" target="_blank">Link</a> <br>
          EBI AlphaFold Predicted Structure Database
        </p>
      </div>

    </div>
  </div>
  <div class="col-8">
    <div id="pdbViewer" style="width:800px; height:600px;"></div>
  </div>

</div>


<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
