.color-swatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.color-swatch {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.color-input {
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  text-align: center;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
