<div class="modal-header">
  <h4 class="modal-title" id="stringDB">StringDB Interaction Partners Info</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="mt-2 ml-2 mr-2">
  <div class="row">
    <div class="col-9">
      <div id="stringEmbedded"></div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label>Network Type:</label>
            <select class="form-control" [(ngModel)]="networkType">
              <option value="physical">
                Physical
              </option>
              <option value="functional" selected>
                Functional
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Network Flavour:</label>
            <select class="form-control" [(ngModel)]="networkFlavor">
              <option value="evidence" selected>
                Evidence
              </option>
              <option value="confidence">
                Confidence
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>Required Significant Score Cutoff (0-1000):</label>
            <input type="number" class="form-control" [(ngModel)]="requiredScore">
          </div>
          <button class="btn btn-primary" (click)="getString()">Update</button>
        </div>
      </div>
      <div>
        <p>
          <span style="color: red">Red</span><span> - Proteins with increased abundance</span><br>
        </p>
        <p>
          <span style="color: blue">Blue</span><span> - Proteins with decreased abundance</span><br>
        </p>
        <p>
          <span style="color: saddlebrown">Brown</span><span> - Proteins with no changes (FC < absolute 1.5)</span><br>
        </p>
        <p>
          <span style="font-weight: bold">Bold</span><span> - Proteins that have been selected</span><br>
        </p>
        <p>
          <span style="color: black">Black</span><span> - Proteins that are not in the dataset</span><br>
        </p>
      </div>
    </div>

  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
