

<div class="custom-file" hidden>
  <input type="file" class="custom-file-input" aria-label="settings-loader" #settingLoader aria-describedby="settings-loader" id="settings-loader" (change)="loadSettings($event)">
  <label class="custom-file-label" for="settings-loader">{{fileName||'Select File'}}</label>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="label-input-file">Differential Proccesed Input File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" aria-label="input-file" aria-describedby="label-input-file" (change)="handleFile($event, false)">
            <label class="custom-file-label" for="label-input-file">{{fileName||'Select File'}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-secondary" ngbDropdownToggle id="fileMenu">File</button>
        <div ngbDropdownMenu aria-labelledby="fileMenu">
          <button ngbDropdownItem (click)="settingLoader.click()">Load Settings</button>
          <div class="form-check px-4 py-3">
            <input class="form-check-input" type="checkbox" id="loadFiles" [(ngModel)]="loadSavedInput">
            <label class="form-check-label" for="loadFiles">Load input file from server</label>
          </div>
          <button ngbDropdownItem (click)="modalViewer(saveSettingsModal)">Save settings</button>

          <button ngbDropdownItem (click)="loadTest()">Load example data</button>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="label-raw-input-file">Raw Input File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" aria-label="input-raw-file" aria-describedby="label-raw-input-file" (change)="handleFile($event, true)">
            <label class="custom-file-label" for="label-raw-input-file">{{rawFileName||'Select File'}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">

    </div>
  </div>
  <div class="row" *ngIf="unique_id">
    <span class="text-success">
      Your current saved settings unique link: {{unique_id}}
    </span>
  </div>
</div>



<div class="card mt-2" *ngIf="processed.count()">
  <div class="card-body">
    <h5 class="card-title">Processed File Parameters</h5>
    <div class="form-group">
      <div class="form-row">
        <div class="col-4">
          <label for="accSelection">Select column with primary IDs</label>
          <select class="form-control" id="accSelection" [(ngModel)]="graphData.processedIdentifierCol">
            <option *ngFor="let o of processed.getColumnNames()">
              {{o}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label for="changeSelection">Select column with log2 fold change</label>
          <select class="form-control" id="changeSelection" [(ngModel)]="graphData.processedLog2FC">
            <option *ngFor="let o of processed.getColumnNames()">
              {{o}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label for="pvalueSelection">Select column with p-value</label>
          <select class="form-control" id="pvalueSelection" [(ngModel)]="graphData.processedPValue">
            <option *ngFor="let o of processed.getColumnNames()">
              {{o}}
            </option>
          </select>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [(ngModel)]="log10pvalue">
            <label class="form-check-label">p-value has already been log transformed</label>
          </div>

        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        <label for="comparisonLabelSelection">Select column with comparison label</label>
        <select class="form-control" id="comparisonLabelSelection" [(ngModel)]="graphData.processedCompLabel">
          <option *ngFor="let o of processed.getColumnNames()">
            {{o}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="card mt-2" *ngIf="raw.count()">
  <div class="card-body">
    <h5 class="card-title">Raw File Parameters</h5>
    <div class="form-group">
      <div class="form-row">
        <div class="col-4">
          <label for="accSelection">Select column with primary IDs</label>
          <select class="form-control" id="accRawSelection" [(ngModel)]="graphData.rawIdentifierCol">
            <option *ngFor="let o of raw.getColumnNames()">
              {{o}}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label for="changeSelection">Select column with samples</label>
          <select multiple class="form-control" id="samplesSelection" [(ngModel)]="graphData.rawSamplesCol">
            <option *ngFor="let o of raw.getColumnNames()">
              {{o}}
            </option>
          </select>
        </div>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3">
        <div class="form-check">
          <input class="form-check-input" [(ngModel)]="enableFetch" type="checkbox" id="enableUniprot">
          <label class="form-check-label" for="enableUniprot">Enable fetching data from UniProt (Primary ID column need to be UniProt accession IDs)</label>
        </div>
      </div>
      <div class="col-9">
        <button class="btn btn-primary" (click)="getUniprot($event)">Submit</button>
      </div>
    </div>
  </div>
</div>

<ng-template #saveSettingsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="sample-labels">Save Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="file-password">Password:</label>
      <input class="form-control" type="password" id="file-password" placeholder="Password" [(ngModel)]="password" disabled>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="saveFiles" [(ngModel)]="saveInputFile">
        <label class="form-check-label" for="saveFiles">Save input file on server</label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="downloadSettingFiles" [(ngModel)]="downloadSettingsFile">
        <label class="form-check-label" for="downloadSettingFiles">Download Settings File</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Save</button>
  </div>
</ng-template>
