<div class="modal-header">
  <h5 class="modal-title">API Keys</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="d-flex flex-column gap-2">
    <div class="form-group">
      <label for="api-key-name">API Key Name</label>
      <input type="text" class="form-control" formControlName="name" id="api-key-name" placeholder="API Key Name">
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="create()">+</button>
    </div>
  </form>
  @if (apiKey && apiKey.length > 0) {
    <div class="form-floating mt-2">
      <textarea class="form-control" id="api-key" placeholder="API Key" readonly [(ngModel)]="apiKey"></textarea>
      <label for="api-key">Generated API Key</label>
      <ngb-alert type="warning">
        <strong>Warning!</strong> This is your only chance to copy the API Key. If you lose it, you will have to generate a new one.
      </ngb-alert>
    </div>
  }
  <div class="d-flex flex-column gap-2 overflow-auto mt-2">
    @for (a of apiKeys; track a) {
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ a.name }}</h5>
          <div class="card-text">
            <div>
              <b>Key ID:</b> {{ a.id }}
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
</div>
