<form [formGroup]="form" xmlns="http://www.w3.org/1999/html">
  <div class="form-group">
    <label for="tissueType">Select Tissue or Cell Line</label>
    <select style="max-width: 200px" id="tissueType" class="form-control" formControlName="selected">
      <option value="tissue">
        Tissue
      </option>
      <option value="cell line">
        Cell line
      </option>
    </select>
  </div>
</form>

<plotly-plot [config]="config" [divId]="_uniprotID+'bar'" [data]="graphData" [layout]="graphLayout" [updateOnLayoutChange]="true" [updateOnDataChange]="true"></plotly-plot>
<div class="row align-content-end">
  <div class="col">
<!--    <button class="btn btn-sm btn-link" (click)="credit.openCredit('ProteomicsDB')">Resource Citations</button>-->
  </div>
</div>
