<form [formGroup]="form">
  <div class="d-flex">
    <div class="form-group p-2">
      <label for="tissueType">Select Tissue or Cell Line</label>
      <select style="max-width: 200px" id="tissueType" class="form-control" formControlName="selected">
        <option value="tissue">
          Tissue
        </option>
        <option value="cell line">
          Cell line
        </option>
      </select>
    </div>
    <div class="form-group p-2">
      <label for="tissueType">Bar chart color</label>
      <input formControlName="color" (colorPickerChange)="updateColor($event)" class="form-control" [(colorPicker)]="color" [style.background]="color">
    </div>
  </div>

</form>

<plotly-plot [config]="config" [divId]="_uniprotID+'bar'" [data]="graphData" [layout]="graphLayout" [updateOnLayoutChange]="true" [updateOnDataChange]="true"></plotly-plot>
<div class="row align-content-end">
  <div class="col">
<!--    <button class="btn btn-sm btn-link" (click)="credit.openCredit('ProteomicsDB')">Resource Citations</button>-->
  </div>
</div>
