<div class="card">
  <div class="card-body">
    <h1 class="card-title" *ngIf="hasUniprot">{{title}}</h1>
    <span *ngFor="let a of selectionArray" class="badge badge-info mr-2">{{a}}</span>
    <p class="card-text" *ngIf="hasUniprot">{{proteinFunction}}</p>
    <ngui-inview (inview)="viewing()">
    </ngui-inview>
    <app-protein-domain *ngIf="hasUniprot" [proteinID]="proteinID"></app-protein-domain>
    <div class="row">
      <div class="col-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="average">
          <label class="form-check-label">
            Averaging replicate values
          </label>
        </div>
      </div>
    </div>

    <app-bar-chart [data]="data"></app-bar-chart>
    <app-bar-chart-average *ngIf="average === true" [data]="data"></app-bar-chart-average>
  </div>
</div>

