<div class="card">
  <div class="card-body">
    <h1 class="card-title" *ngIf="title !== ''; else accid">{{title}}</h1>
    <ng-template #accid>
      <h1 class="card-title">{{proteinID}}</h1>
    </ng-template>
    <span *ngFor="let a of selectionArray" class="badge badge-info mr-2">{{a}}</span>
    <p *ngIf="hasUniprot">
      <span class="badge badge-dark" (click)="openSTRING()" *ngIf="uniprot.fetched">View Interacting Partners (StringDB)</span>
      <span class="badge badge-dark ml-2" (click)="openInteractomeAtlas()" *ngIf="uniprot.fetched">View Interacting Partners (Interactome Atlas)</span>
      <span class="badge badge-dark ml-2" (click)="openProteomicsDB()" *ngIf="uniprot.fetched">View ProteomicsDB Expression Data</span>
      <span class="badge badge-dark ml-2" (click)="openAlphaFold()" *ngIf="uniprot.fetched">View AlphaFold Predicted Structure</span>
    </p>
    <p class="card-text" *ngIf="hasUniprot">{{proteinFunction}}</p>
    <ngui-inview (inview)="viewing()">
    </ngui-inview>
    <ng-container *ngIf="hasUniprot">
      <app-protein-domain *ngIf="proteinID !== ''" [proteinID]="proteinID"></app-protein-domain>
    </ng-container>

    <div class="row">
      <div class="col-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="average">
          <label class="form-check-label">
            Averaging replicate values
          </label>
        </div>
      </div>
    </div>

    <app-bar-chart [data]="data"></app-bar-chart>
    <app-bar-chart-average *ngIf="average === true" [data]="data"></app-bar-chart-average>
  </div>
</div>

