<app-toast-container></app-toast-container>
<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Curtain</a>
    @if (finished && settings.settings.currentID !== '') {
      <div class="d-flex align-items-center me-auto">
        @if (uniqueLink !== '') {
          <a href="{{uniqueLink}}" class="me-2 text-success text-truncate" style="max-width: 200px;">{{uniqueLink}}</a>
        }
        @if (!permanent) {
          <span class="badge bg-danger me-2">Temporary</span>
        } @else {
          @if (isDOI && data.session) {
            @if (data.session.data_cite) {
              <span class="badge me-2" [ngClass]="{
            'bg-warning': data.session.data_cite.status === 'draft',
            'bg-success': data.session.data_cite.status === 'published',
            'bg-danger': data.session.data_cite.status !== 'draft' && data.session.data_cite.status !== 'published'
          }">
            {{data.session.data_cite.status === 'draft' ? 'DOI Draft' :
                data.session.data_cite.status === 'published' ? 'DOI Permanent' : 'DOI Pending'}}
          </span>
            }
          } @else {
            @if (!isDOI) {
              <span class="badge bg-success me-2">Permanent</span>
            }
          }
        }

        <button class="btn btn-sm btn-outline-info me-2" (click)="copyToClipboard(uniqueLink)">
          <i class="bi bi-clipboard"></i>
        </button>
        <button class="btn btn-sm btn-outline-warning" (click)="openQRCode()">
          <i class="bi bi-qr-code"></i>
        </button>
      </div>
    }

    @if (progressEvent && !finished) {
      <div class="glitch-element me-auto">
        <span class="text-info">{{progressEvent.text}}</span>
      </div>
    }

    @if (settings.newVersionAvailable) {
      <div>
        <span class="badge bg-warning">New Curtain version available</span>
      </div>
    }



    <div class="d-flex align-items-center">
      @if (settings.settings.encrypted) {
        <div class="me-2" (click)="testEncryptSave()">
          <span class="badge bg-danger">Encryption Enabled</span>
        </div>
      }
      @if (accounts.curtainAPI.user.loginStatus) {
        <div class="me-2">
          <div display="dynamic" ngbDropdown>
            <button class="btn btn-outline-primary" id="doiManagement" ngbDropdownToggle>
              DOI Management
              @if (data.draftDataCiteCount > 0) {
                <span class="badge bg-danger ms-1">{{data.draftDataCiteCount}}</span>
              }
            </button>
            <div ngbDropdownMenu aria-labelledby="doiManagement">
              <button ngbDropdownItem (click)="openDataciteAdminManagement()">
                Submitted DOI @if (data.draftDataCiteCount > 0) {<span class="badge bg-danger ms-1">{{data.draftDataCiteCount}}</span>}
              </button>
              @if (finished && gdprAccepted && data.session) {
                <button ngbDropdownItem (click)="openDataciteDOI()"
                        [disabled]="!data.session">
                  {{data.session.data_cite ? 'View DOI Form' : 'Register DOI (Beta)'}}
                </button>
              }
            </div>
          </div>
        </div>
      }
      @if (finished) {
        <div class="me-2">
          <div display="dynamic" ngbDropdown>
            <button class="btn btn-outline-primary" id="localState" ngbDropdownToggle>
              <i class="bi bi-save"></i> State
            </button>
            <div ngbDropdownMenu aria-labelledby="localState">
              <button ngbDropdownItem (click)="saveLocalState()">Create local state</button>
              <button ngbDropdownItem (click)="openStateModal()">State Management</button>
            </div>
          </div>
        </div>
      }


      <!-- Plot Options Button -->
      <div class="me-2">
        <div display="dynamic" ngbDropdown>
          <button class="btn btn-outline-primary" id="plot-dropdown" ngbDropdownToggle>
            <i class="bi bi-graph-up"></i> Plot
          </button>
          <div ngbDropdownMenu aria-labelledby="plot-dropdown">
            @if (finished) {
              <h6 class="dropdown-header">Data Visualization</h6>
              <button ngbDropdownItem (click)="openCorrelationMatrix()">Correlation Matrix</button>
              <button ngbDropdownItem (click)="openProfileCompare()">
                Profile Plot <span class="badge bg-secondary ms-1">{{settings.settings.selectedComparison.length}}</span>
              </button>
              <button ngbDropdownItem (click)="getSelectedList()">Get Selected Protein List</button>
              <button ngbDropdownItem (click)="openSampleSettings()">Sample Order & Visibility</button>
              <div class="dropdown-divider"></div>
            }
            <button ngbDropdownItem (click)="openColorPaletteModal()">Customize Color Palette</button>
            @if (data.selectOperationNames.length > 0) {
              <button ngbDropdownItem (click)="openSelectedDataDistributionModal()">Fold Change Distribution</button>
            }
          </div>
        </div>
      </div>

      <div class="me-2">
        <div display="dynamic" ngbDropdown>
          <button class="btn btn-outline-primary" id="dropdownSession" ngbDropdownToggle>
            <i class="bi bi-folder"></i> Session
            @if (data.session) {
              <span class="badge ms-1"
                    [ngClass]="{'bg-danger': !data.session.enable, 'bg-primary': data.session.enable}">
              {{data.session.enable ? 'shareable' : 'private'}}
              </span>
            }

          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownSession" class="dropdown-menu-end">
            <h6 class="dropdown-header">Project Data</h6>
            <button ngbDropdownItem (click)="openAnnotation()">Project Annotation</button>
            <button ngbDropdownItem (click)="openPeptideCountModal()">Add Peptide Count Data</button>
            <button ngbDropdownItem (click)="openLogFileModal()">Log File</button>
            <button ngbDropdownItem (click)="openAddRawDataImputationMap()">Add Imputation Data</button>
            @if (finished) {
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Session Actions</h6>
            }
            @if (accounts.curtainAPI.user.loginStatus && accounts.curtainAPI.user.isStaff) {
              <button ngbDropdownItem (click)="openBatchSessionCreator()">
                Batch Session Creation
              </button>
            }
            @if (finished) {
              @if(gdprAccepted) {
                @if (accounts.curtainAPI.user.loginStatus && data.session) {
                  <button ngbDropdownItem (click)="openDataciteDOI()">
                    {{data.session.data_cite ? 'View DOI Form' : 'Register DOI (Beta)'}}
                  </button>
                  <button ngbDropdownItem (click)="saveSession()" [disabled]="data.tempLink">
                    Save Temporary Session
                  </button>
                  <button ngbDropdownItem (click)="saveSession(true)" [disabled]="data.tempLink">
                    Save Permanent Session
                  </button>
                }
              } @else {
                <button ngbDropdownItem disabled>Accept GDPR to Enable Saving</button>
              }
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Data Management</h6>
              <button ngbDropdownItem (click)="clearSelections()">Clear Selections</button>
              <button ngbDropdownItem (click)="web.downloadFile('different.txt', data.differential.originalFile)">
                Download Differential File
              </button>
              <button ngbDropdownItem (click)="web.downloadFile('raw.txt', data.raw.originalFile)">
                Download Raw File
              </button>
              <button ngbDropdownItem (click)="openEnrichrModal()">Enrichr Analysis</button>
              <button ngbDropdownItem (click)="selectionManagementModal()">Selection Management</button>
              <button ngbDropdownItem (click)="openSampleAndConditionModal()">Sample & Condition Assignment</button>
              @if (settings.settings.currentID !== '') {
                <button ngbDropdownItem (click)="openCompareSessionModal()">
                  Compare Sessions
                </button>
              }
            }
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Settings</h6>
            <button ngbDropdownItem (click)="openSessionSettings()"
                    [disabled]="!accounts.isOwner && !accounts.curtainAPI.user.isStaff">
              Session Settings
            </button>
            <button ngbDropdownItem (click)="openCollaborateModal()">Collaborate</button>
            <button ngbDropdownItem (click)="openEncryptionSettings()">Encryption Settings</button>
            @if (accounts.curtainAPI.user.loginStatus) {
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Account</h6>
              <button ngbDropdownItem (click)="openAccountModal()">My Account</button>
              <button ngbDropdownItem (click)="openAPIKeyModal()">API Keys</button>
              <button ngbDropdownItem (click)="accounts.logout()">Logout</button>
            }
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Help & Resources</h6>
            <a ngbDropdownItem href="https://www.youtube.com/channel/UCwTAaXMvmqoozLB0XwZz20g" target="_blank">
              <i class="bi bi-youtube"></i> Video Tutorials
            </a>
            <a ngbDropdownItem href="https://groups.google.com/g/curtain-proteomics" target="_blank">
              <i class="bi bi-google"></i> Support Group
            </a>
            <a ngbDropdownItem href="https://curtain-docs.proteo.info" target="_blank">
              <i class="bi bi-book"></i> Documentation
            </a>
            @if (!accounts.curtainAPI.user.loginStatus) {
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="openLoginModal()">
                <i class="bi bi-box-arrow-in-right"></i> Login
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5 pt-3">
  @if (showAlert) {
    <ngb-alert type="warning" [dismissible]="true" (closed)="closeGDPR()">
      <h5><i class="bi bi-shield-check"></i> GDPR Statement</h5>
      <p>
        This website neither uses cookies nor tracks/logs IPs of its users. The only personal identification data
        that we store is ORCID ID so that users can track their submitted sessions.
      </p>
      <p>
        It is the responsibility of the user to ensure no personal identification data is submitted. By saving
        data to CURTAIN, you confirm there is no personal identification data in your submitted information.
      </p>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="gdprAccepted" style="border-color: red">
        <label class="form-check-label"><strong>I have read and accepted the GDPR statement (Enable Session Saving)</strong></label>
      </div>
    </ngb-alert>
  }
</div>

@if (isDOI) {
  <div class="container">
    @if (doiMetadata) {
      <app-datacite-metadata-display [metadata]="doiMetadata"
                                     (clickDownload)="handleDataCiteClickDownload($event)">
      </app-datacite-metadata-display>
    } @else {
      @if (loadingDataCite) {
        <div class="mb-4" *ngIf="!doiMetadata">
          <ngb-progressbar [animated]="true" [value]="100" [striped]="true">Retrieving MetaData</ngb-progressbar>
        </div>
      }
    }
  </div>
}

<app-pride></app-pride>
<app-file-form (finished)="handleFinish($event)"></app-file-form>

@if (finished) {
  @if (data.raw.df.count() > 0) {
    <div class="container mt-4">
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-header">
            <button class="accordion-button" [class.collapsed]="isRankPlotCollapse" type="button" (click)="isRankPlotCollapse=!isRankPlotCollapse">
              <div class="d-flex justify-content-between align-items-center w-100">
                <span>Rank Abundance Plot</span>
                <span class="badge bg-primary ms-2">{{data.raw.df.count()}} Primary IDs</span>
              </div>
            </button>
          </div>
          <div class="accordion-collapse" [ngbCollapse]="isRankPlotCollapse">
            <div class="accordion-body">
              <app-rank-plot *ngIf="!isRankPlotCollapse" [data]="data.raw.df"></app-rank-plot>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- Protein Selections -->
  <app-protein-selections (searchResult)="handleSearch($event)"></app-protein-selections>

  <!-- Volcano and Cyto -->
  <app-volcano-and-cyto (selected)="handleSearch($event)"></app-volcano-and-cyto>

  <!-- Raw Data Viewer -->
  @if (rawFiltered.count() > 0) {
    <div class="container-fluid mt-4">
      <app-raw-data-viewer [data]="rawFiltered"></app-raw-data-viewer>
    </div>
  }
}

@if (finished) {
  <app-side-float-control *ngIf="finished" (searchChatSelection)="handleSearch($event)"></app-side-float-control>
}
