<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Curtain</a>
  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input class="form-control mr-sm-2" type="search" placeholder="Quick Navigation" aria-label="Search" [disabled]="!enableQuickNav" [(ngModel)]="selectedProteinModel" [ngbTypeahead]="selectedProtein">
    <select class="form-control mr-sm-2" [(ngModel)]="searchType" [disabled]="!enableQuickNav">
      <option>Primary IDs</option>
      <option>Gene names</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!enableQuickNav">Select</button>
  </form>
</nav>
<div class="container">
  <app-file-uploader (data)="handleData($event)"></app-file-uploader>
</div>

<div class="mx-2" *ngIf="selectedComparison.length>0">
  <div class="form-group">
    <div class="form-row">
      <div class="col-2">
        <label for="compSelect">Select comparison</label>
        <select class="form-control" id="compSelect" [(ngModel)]="selectedComparison" (change)="selectComparison($event)">
          <option *ngFor="let o of comparison">
            {{o}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-2" *ngIf="selectedDF.count() > 0">

  <app-comparison-viewer [data]="selectedDF" [intensityData]="g.raw"></app-comparison-viewer>
</div>

<div class="container-fluid mt-2">
  <app-distribution-viewer [data]="g.raw" [dataComp]="selectedDF"></app-distribution-viewer>
</div>
<app-notification-container aria-live="polite" aria-atomic="true"></app-notification-container>
