<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="InitialInput">
    <ngb-panel id="InitialInput" title="Data Parameters Input">
      <ng-template ngbPanelContent>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <app-file-input-widget [fileType]="'Differential Analysis File'" (readData)="handleFile($event, false)"></app-file-input-widget>
            </div>
            <div class="row">
              <app-file-input-widget [fileType]="'Raw File'" (readData)="handleFile($event, true)"></app-file-input-widget>
            </div>
            <small><a href="https://curtain.proteo.info/#/f4b009f3-ac3c-470a-a68b-55fcadf68d0f" target="_blank">Example session</a></small>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Differential Analysis File</h5>
            <div class="row">
              <div class="col-3">
                <label for="primaryIDs">Select Primary IDs</label>
                <select class="form-select" id="primaryIDs" aria-label="Select Primary IDs" [(ngModel)]="data.differentialForm.primaryIDs">
                  <option *ngFor="let c of data.differential.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
              <div class="col-3" *ngIf="data.fetchUniprot === false">
                <label for="geneNames">Select Gene Names</label>
                <select class="form-select" id="geneNames" aria-label="Select Gene Names" [(ngModel)]="data.differentialForm.geneNames">
                  <option *ngFor="let c of data.differential.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
              <div class="col-3">
                <label for="foldChange">Select Fold Change</label>
                <select class="form-select" id="foldChange" aria-label="Select Fold Change" [(ngModel)]="data.differentialForm.foldChange">
                  <option *ngFor="let c of data.differential.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="transformFC" [(ngModel)]="data.differentialForm.transformFC">
                  <label for="transformFC">Perform log2 Transformation</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="reverseX" class="form-check-input" [(ngModel)]="data.differentialForm.reverseFoldChange">
                  <label class="form-check-label" for="reverseX">Reverse fold change value</label>
                </div>
              </div>
              <div class="col-3">
                <label for="significant">Select Significant</label>
                <select class="form-select" id="Significant" aria-label="Select Significant" [(ngModel)]="data.differentialForm.significant">
                  <option *ngFor="let c of data.differential.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="transformSignificant" [(ngModel)]="data.differentialForm.transformSignificant">
                  <label for="transformSignificant">Perform -log10 Transformation</label>
                </div>
              </div>
              <div class="col-3">
                <label for="comparison">Comparison</label>
                <select class="form-select" id="comparison" aria-label="Comparison" [(ngModel)]="data.differentialForm.comparison">
                  <option *ngFor="let c of data.differential.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
              <div class="col-3" *ngIf="data.differentialForm.comparison !== ''">
                <label for="comparisonSelect">Select Comparison</label>
                <select class="form-select" id="comparisonSelect" aria-label="ComparisonSelect" [(ngModel)]="data.differentialForm.comparisonSelect" multiple>
                  <option *ngFor="let c of data.differential.df.getSeries(data.differentialForm.comparison).distinct()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Raw File</h5>
            <div class="row">
              <div class="col-3">
                <label for="primaryIDsraw">Select Primary IDs</label>
                <select class="form-select" id="primaryIDsraw" aria-label="Select Primary IDs Raw" [(ngModel)]="data.rawForm.primaryIDs">
                  <option *ngFor="let c of data.raw.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
              <div class="col-3">
                <label for="samples">Select Samples</label>
                <select multiple class="form-select" id="samples" aria-label="Select Sampes" [(ngModel)]="data.rawForm.samples">
                  <option *ngFor="let c of data.raw.df.getColumnNames()" [value]="c">
                    {{c}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group mb-2 mt-2">
          <label><b>Session Description</b></label>
          <quill-editor [(ngModel)]="settings.settings.description"></quill-editor>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button class="btn btn-primary" (click)="startWork()">Submit</button>
          </div>
          <div class="col">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="fetchUniprot" [(ngModel)]="data.fetchUniprot">
              <label for="fetchUniprot">Fetch Uniprot Data Using Primary Ids</label>
            </div>
          </div>
        </div>
        <p class="mt-2">
          <ngb-progressbar type="info" [value]="progressBar.value">
            {{progressBar.text}}
          </ngb-progressbar>
        </p>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

