<div class="modal-header">
  <h5 class="modal-title">Enrichr</h5>
</div>
<div class="modal-body">
  <form [formGroup]="form" class="mb-2">
    <div class="form-group">
      <label for="selectedSet">Study gene list</label>
      <select id="selectedSet" formControlName="selectedSet" class="form-control">
        <option *ngFor="let s of data.selectOperationNames" [value]="s">{{s}}</option>
      </select>
    </div>
<!--    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="userBackground" formControlName="userBackgroundSet">
      <label class="form-check-label" for="userBackground">Use user data as background</label>
    </div>-->
    <div class="form-group" *ngIf="form.value['userBackgroundSet']">
      <label for="background">Background list</label>
      <select id="background" formControlName="backgroundSet" class="form-control">
        <option [value]="'All Genes'">All genes</option>
        <option *ngFor="let s of data.selectOperationNames" [value]="s">{{s}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="!form.value['userBackgroundSet']">
      <label for="library">Geneset library</label>
      <select id="library" formControlName="library" class="form-control">
        <option *ngFor="let l of libraries" [value]="l">{{l}}</option>
      </select>
    </div>
  </form>
  <div class="alert alert-warning">
    <p>
      Chen EY, Tan CM, Kou Y, Duan Q, Wang Z, Meirelles GV, Clark NR, Ma'ayan A.
      Enrichr: interactive and collaborative HTML5 gene list enrichment analysis tool. BMC Bioinformatics. 2013; 128(14).
    </p>
    <p>
      Kuleshov MV, Jones MR, Rouillard AD, Fernandez NF, Duan Q, Wang Z, Koplev S, Jenkins SL, Jagodnik KM, Lachmann A, McDermott MG, Monteiro CD, Gundersen GW, Ma'ayan A.
      Enrichr: a comprehensive gene set enrichment analysis web server 2016 update. Nucleic Acids Research. 2016; gkw377 .
    </p>
    <p>
      Xie Z, Bailey A, Kuleshov MV, Clarke DJB., Evangelista JE, Jenkins SL, Lachmann A, Wojciechowicz ML, Kropiwnicki E, Jagodnik KM, Jeon M, & Ma’ayan A.
      Gene set knowledge discovery with Enrichr. Current Protocols, 1, e90. 2021. doi: 10.1002/cpz1.90
    </p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
</div>
