<div class="modal-header">
  Volcano Text Annotation Editor
</div>
<div class="modal-body">
  <table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Text
      </th>
      <th scope="col">
        Font Size
      </th>
      <th scope="col">
        Arrow Head Size
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of annotationText">
      <td>
        {{a.title}}
      </td>
      <td>
        <input type="text" [(ngModel)]="a.data.text">
      </td>
      <td>
        <input class="col-6" type="number" [(ngModel)]="a.data.font.size">
      </td>
      <td>
        <input class="col-6" type="number" [(ngModel)]="a.data.arrowhead">
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modal.close(annotationText)">Submit</button>
  <button class="btn btn-danger" (click)="modal.dismiss()">Close</button>
</div>
