<div class="modal-header">
  Volcano Text Annotation Editor
</div>
<div class="modal-body">
  <!--<table class="table table-borderless">
    <thead>
    <tr>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Text
      </th>
      <th scope="col">
        Font Size
      </th>
      <th scope="col">
        Arrow Head
      </th>
      <th scope="col">
        Arrow Size
      </th>
      <th scope="col">
        Arrow Width
      </th>
      <th scope="col">
        Anchor X
      </th>
      <th scope="col">
        Anchor Y
      </th>
      <th scope="col">
        Text Color
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of annotationText">
      <td>
        {{a.title}}
      </td>
      <td>
        <input type="text" [(ngModel)]="a.data.text">
      </td>
      <td>
        <input class="col-12" type="number" [(ngModel)]="a.data.font.size">
      </td>
      <td>
        <input class="col-12" [max]="8" [min]="0" type="number" [(ngModel)]="a.data.arrowhead">
      </td>
      <td>
        <input class="col-12" [min]="0.3" type="number" [(ngModel)]="a.data.arrowsize">
      </td>
      <td>
        <input class="col-12" [min]="0.1" type="number" [(ngModel)]="a.data.arrowwidth">
      </td>
      <td>
        <input class="col-12" type="number" [(ngModel)]="a.data.ax">
      </td>
      <td>
        <input class="col-12" type="number" [(ngModel)]="a.data.ay">
      </td>
      <td>
        <input class="col-12" [(colorPicker)]="a.data.font.color" [style.background]="a.data.font.color">
      </td>
    </tr>
    </tbody>
  </table>-->
  <ng-container *ngFor="let f of forms">
    <form [formGroup]="f">
      <h5>{{f.value["annotationID"]}}</h5>
      <div class="d-flex">
        <div class="p-2">
          <div class="form-check">
            <input class="form-check-input" formControlName="showannotation" type="checkbox">
            <label class="form-check-label">Show Annotation</label>
          </div>
        </div>
        <div class="p-2">
          <div class="form-check">
            <input class="form-check-input" formControlName="showarrow" type="checkbox">
            <label class="form-check-label">Show Arrow</label>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2">
          <div class="form-group">
            <label>Arrow Head Type</label>
            <input type="number" class="form-control" formControlName="arrowhead">
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            <label>Arrow Size</label>
            <input type="number" class="form-control" formControlName="arrowsize">
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            <label>Arrow Width</label>
            <input type="number" class="form-control" formControlName="arrowwidth">
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            <label>X axis offset</label>
            <input type="number" class="form-control" formControlName="ax">
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            <label>Y axis offset</label>
            <input type="number" class="form-control" formControlName="ay">
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="p-2">
          <div class="form-group">
            <label>Font Size</label>
            <input type="number" class="form-control" formControlName="fontsize">
          </div>
        </div>
        <div class="p-2">
          <div class="form-group">
            <label>Font Color</label>
            <input (colorPickerChange)="updateColor($event, f.value['annotationID'])" formControlName="fontcolor" [(colorPicker)]="colorMap[f.value['annotationID']]" class="form-control" [style.background-color]="colorMap[f.value['annotationID']]">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Annotation Text</label>
        <textarea class="form-control" formControlName="text"></textarea>
      </div>
    </form>
    <hr>
  </ng-container>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modal.close(forms)">Submit</button>
  <button class="btn btn-danger" (click)="modal.dismiss()">Close</button>
</div>
