<form [formGroup]="form">
  <div class="d-flex justify-content-start gap-2">
    <div class="form-group">
      <label for="primaryIDs">Primary IDs</label>
      <select id="primaryIDs" class="form-control" formControlName="primaryIDs" multiple>
        @for (primaryID of primaryData; track primaryID.primaryID) {
          <option [value]="primaryID.primaryID">{{primaryID.primaryID}} @if (primaryID.uniprot) {<span class="text-primary">({{primaryID.uniprot["Gene Names"]}})</span>}</option>
        }
      </select>
    </div>
    <div class="form-group">

    </div>
  </div>
</form>
