<app-toast-container></app-toast-container>
<router-outlet></router-outlet>
<div class="container">
  <hr/>
  <footer class="py-5">
    <div class="row">
      <div class="col-5">
        <img src="assets/logo/UKRI_MRC_%20PPU_Dundee.png" class="mx-auto" height="132" width="981" alt="mrc-ppu-log" (click)="openStatsSummary()">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-5">
        <img src="assets/logo/ASAP_FullColor.png" class="mx-auto" alt="asap-logo">
      </div>
    </div>
    <div class="row">
      <div class="p-2">
        <p class="text-secondary">
          <span class="bi bi-github"></span> GitHub: <a href="https://github.com/Alessi-Lab/celsusdjango">Backend</a> | <a href="https://github.com/alessi-lab/curtain">Frontend</a> | <a href="https://github.com/Alessi-Lab/curtain-web-api">JS API</a> | <a href="https://github.com/Alessi-Lab/uniprotparserjs">UniProt Parser JS</a>
        </p>
        <p class="text-secondary">
          <span class="bi bi-journal"></span> <a href="https://www.biorxiv.org/content/10.1101/2023.07.25.550405v1">Preprint</a>
        </p>
      </div>
    </div>
  </footer>
</div>
