<app-toast-container></app-toast-container>
<router-outlet></router-outlet>
<div class="bg-light mt-5">
  <div class="container">
    <footer class="py-4">
      <div class="row">
        <div class="col-md-6">
          <h5>Resources</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link p-0 text-muted" href="#" (click)="openResourceCitation()">Resource Citation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-muted" href="https://www.pnas.org/doi/full/10.1073/pnas.2312676121" target="_blank">Publication</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-danger" href="https://celsus.muttsu.xyz/admin" target="_blank">Administration Portal</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Project Links</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link p-0 text-muted" href="https://github.com/Alessi-Lab/celsusdjango" target="_blank">Backend Repository</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0 text-muted" href="https://github.com/Alessi-Lab/curtain" target="_blank">Frontend Repository</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-4">
        <p class="mb-0">
          With support from <a href="https://parkinsonsroadmap.org/">Aligning Science Across Parkinson's</a>
        </p>
        <img src="assets/logo/UKRI_MRC_%20PPU_Dundee.png" height="40" alt="MRC PPU Logo" (click)="openStatsSummary()">
      </div>
    </footer>
  </div>
</div>
