<ng-template #selectedt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="selected-id">Selected data</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="rows.length > 0">
    <div class="row">
      <div class="col-2">
        <div class="form-check">
          <input class="form-check-input" id="filterByInteraction" #interactionFilter type="checkbox" [disabled]="disableInteractionFilter" (change)="enableInteractionFilter()">
          <label class="form-check-label" for="filterByInteraction">Filter by interaction data</label>
        </div>
      </div>
      <div class="col-2">
        <select [(ngModel)]="interactionType" class="form-control" (change)="changeInteraction()" [disabled]="!interactionFilterStatus">
          <option value="functional">Functional Interaction</option>
          <option value="physical">Physical Interaction</option>
        </select>
      </div>
      <div class="col-2">
        <select class="form-control" [disabled]="!interactionFilterStatus" (change)="changeDisplaying()" [(ngModel)]="selectedInteractionFilter">
          <option *ngFor="let a of filteredAllSelected" [value]="a">
            {{getTitle(a)}}
          </option>
        </select>
      </div>
    </div>

    <ngx-datatable
      class="bootstrap expandable"
      [rows]="rows"
      [columnMode]="'force'"
      [rowHeight]="40"
      [headerHeight]="30"
      [footerHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="20"
      style="height: 500px"
      #mydatatable
    >
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Bar Chart"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          <input type="checkbox" [(ngModel)]="selectedRawData[row.Proteins].visible">
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Proteins"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row.Proteins}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Gene names"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{uniData.get(row.Proteins)["Gene names"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Log2 FC"
        [canAutoResize]="true"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row.logFC.toFixed(2)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="P-value"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row.pvalue.toFixed(4)}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Protein names"
        [canAutoResize]="false"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{uniData.get(row.Proteins)["Protein names"]}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [resizeable]="true"
        [draggable]="true"
        [sortable]="false"
        name="Subcellular locations"
        [canAutoResize]="true"
      >
        <ng-template ngx-datatable-cell-template let-row="row">
          {{uniData.get(row.Proteins)["Subcellular location [CC]"]}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateView(modal)">Update View</button>
  </div>
</ng-template>

<ng-template #sampleLabel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="sample-labels">Sample Label Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="labelKeys.length > 0">
    <div class="row mb-1" *ngFor="let k of labelKeys">
      <div class="col-3">
        <label for="{{k}}">{{k}}</label>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" [(ngModel)]="labelSamples[k]" id="{{k}}">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="changeLabel(modal)">Update Labels</button>
  </div>
</ng-template>
<div class="container-fluid" *ngIf="rows.length > 0">
  <div class="row mb-1">
    <div class="col-3">
      <button class="btn btn-outline-info" (click)="modalViewer(selectedt, 'selected-data')">View Selected</button>
    </div>
    <div class="col-3">
      <button class="btn btn-outline-info" (click)="modalViewer(sampleLabel, 'sample-relabel')">Change Sample Label</button>
    </div>

  </div>
</div>

<div class="mt-2" *ngIf="allSelected.length > 0">
  <div *ngFor="let d of allSelected">
    <app-bar-chart  [data]="selectedRawData[d].df" *ngIf="selectedRawData[d].visible"></app-bar-chart>
  </div>
</div>

