<div class="modal-header">
  <h4 class="modal-title" id="proteomicsDB">Protein Expression Info: {{geneName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="mt-2 ml-2">
  <p>
    Source: ProteomicsDB <br>
    MS Level: MS1
  </p>
  <div class="form-group col-3">
    <label>Network Flavour:</label>
    <select class="form-control" [(ngModel)]="tissue_type">
      <option value="tissue" selected>
        Tissue
      </option>
      <option value="cell line">
        Cell line
      </option>
    </select>
  </div>
</div>
<div class="mt-2 ml-2">
  <plotly-plot
    [data]="graph[tissue_type].graphData"
    [layout]="graph[tissue_type].graphLayout"
    [updateOnDataChange]="true"
  ></plotly-plot>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>
