<div class="modal-header">
  <h4 class="modal-title" id="interactomeAtlas">Interactome Atlas: {{geneName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="row mt-2 ml-2 mr-2">
  <div class="col-8">
    <app-cytoplot [drawData]="drawData"></app-cytoplot>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input type="checkbox" id="interactomFilter" class="form-check-input" [(ngModel)]="enableFilter">
          <label class="form-check-label" for="interactomFilter">Enable Filter</label>
        </div>
        <div class="form-group">
          <label>Score cutoff:</label>
          <input type="number" class="form-control" [(ngModel)]="cutoff" [disabled]="enableFilter === false">
        </div>
        <button class="btn btn-primary" (click)="reformatInteraction()">Update</button>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <p><b>Nodes</b><br></p>
        <p>
          <span style="color: #a12323">Increase</span><br>
        </p>
        <p>
          <span style="color: #16458c">Decrease</span><br>
        </p>
        <p>
          <span style="color: #2F2728F4">No Score</span><br>
        </p>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <p><b>Edges</b><br></p>
        <p>
          <span style="color: rgba(82,110,194,0.96)">HI-Union</span><br>
        </p>
        <p>
          <span style="color: rgba(181,151,222,0.96)">Literature</span><br>
        </p>
        <p>
          <span style="color: rgba(222,178,151,0.96)">HI-Union and Literature</span><br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
</div>



