@if (metadata) {
  <div class="container d-flex flex-column gap-2 mb-2">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{metadata.data.attributes.titles[0].title}}</h5>
      </div>
      <div class="card-body">
        <p>
          @for (a of metadata.data.attributes.creators; track a) {
            <span class="badge bg-primary" style="margin-right: 5px" [ngbTooltip]="affiliation">{{a.name}}</span>
            <ng-template #affiliation>
              <p>
                @for (aff of a.affiliation; track aff) {
                  <span>
                    {{aff}}
                  </span>
                  <br>
                }
              </p>
            </ng-template>
          }
        </p>
        <p>
          DOI Link: https://doi.org/{{metadata.data.attributes.doi}}
        </p>
        <p>
          <b>Right and license:</b><br>
          @for (r of metadata.data.attributes.rightsList; track r) {
            <a href="{{r.rigtsUri}}">{{r.rights}}</a> ({{r.rightsIdentifier}})<br>
          }
        </p>
        @for (d of metadata.data.attributes.descriptions; track d) {
            <p>
              <b>{{d.descriptionType}}</b>: {{d.description}}
            </p>
        }
        <p>
          <b>Publisher</b>: {{metadata.data.attributes.publisher}}
        </p>
        <p>
          <b>Publication Year</b>: {{metadata.data.attributes.publicationYear}}
        </p>
      </div>
      <div class="card-footer d-flex gap-2">
        <button class="btn btn-success" (click)="openCitation()" >Cite This Page</button>
        <button class="btn btn-primary" (click)="clickDownload.emit('different')">Download Differential Analysis</button>
        <button class="btn btn-primary" (click)="clickDownload.emit('searched')">Download Searched Data</button>
        @if (mediaID) {
          <a type="button" class="btn btn-warning" href="https://commons.datacite.org/api/download-reports/doi/related-works?id={{mediaID}}" target="_blank">Download Complete Session Data</a>
        }
      </div>
    </div>
  </div>
}
