<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
<!--  <button class="btn btn-primary" *ngIf="cytoplot" (click)="cytoplot.download()">Download</button>-->
  <app-comparison-selections (selection)="handleSelection($event)"></app-comparison-selections>
</div>
<div class="row mt-2 ml-2 mr-2">
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <app-cytoplot *ngIf="hasError === false" #cytoplot [drawData]="drawData" (clickedID)="viewEvidences($event)"></app-cytoplot>
        <div class="card bg-danger" *ngIf="hasError===true">
          <div class="card-body">
            <p class="text-danger">No data found</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2 mb-2" *ngIf="selected">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Year</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Reference</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of selected; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{s["name"]}}</td>
            <td>{{s["dataset_author"]}}</td>
            <td>{{s["year"]}}</td>
            <td>{{s["description"]}}</td>
            <td>{{s["interaction_status"]}}</td>
            <td>{{s["dataset_reference"]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="form-check">
          <input type="checkbox" id="interactomFilter" class="form-check-input" [(ngModel)]="enableFilter">
          <label class="form-check-label" for="interactomFilter">Enable Filter</label>
        </div>
        <div class="form-group">
          <label>Score cutoff:</label>
          <input type="number" class="form-control" [(ngModel)]="cutoff" [disabled]="enableFilter === false">
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <form [formGroup]="form">
          <table>
            <thead>
            <tr>
              <th scope="col">Nodes color</th>
              <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input formControlName="Increase" (colorPickerChange)="updateColor($event, 'Increase')" class="form-control" [(colorPicker)]="colorMap['Increase']" [style.background]="colorMap['Increase']">
              </td>
              <td>Increased abundance</td>
            </tr>
            <tr>
              <td>
                <input formControlName="Decrease" (colorPickerChange)="updateColor($event, 'Decrease')" class="form-control" [(colorPicker)]="colorMap['Decrease']" [style.background]="colorMap['Decrease']">
              </td>
              <td>Decreased abundance</td>
            </tr>
            <tr>
              <td>
                <input formControlName="No change" (colorPickerChange)="updateColor($event, 'Increase')" class="form-control" [(colorPicker)]="colorMap['No change']" [style.background]="colorMap['No change']">
              </td>
              <td>Protein found in data set but was not changed (FC < 1.5)</td>
          </table>
        </form>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <form [formGroup]="form">
          <table>
            <thead>
            <tr>
              <th scope="col">Edges color</th>
              <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input formControlName="HI-Union" (colorPickerChange)="updateColor($event, 'HI-Union')" class="form-control" [(colorPicker)]="colorMap['HI-Union']" [style.background]="colorMap['HI-Union']">
              </td>
              <td>HI-Union</td>
            </tr>
            <tr>
              <td>
                <input formControlName="Literature" (colorPickerChange)="updateColor($event, 'Literature')" class="form-control" [(colorPicker)]="colorMap['Literature']" [style.background]="colorMap['Literature']">
              </td>
              <td>Literature</td>
            </tr>
            <tr>
              <td>
                <input formControlName="HI-Union and Literature" (colorPickerChange)="updateColor($event, 'HI-Union and Literature')" class="form-control" [(colorPicker)]="colorMap['HI-Union and Literature']" [style.background]="colorMap['HI-Union and Literature']">
              </td>
              <td>HI-Union and Literature</td>
          </table>
        </form>
      </div>
    </div>

    <div class="mt-2">
      <button class="btn btn-primary" (click)="reformatInteraction()">Update</button>
    </div>
  </div>
</div>
