@if (forms.length == 0) {
  <h5>No annotations available</h5>
} @else {
  <form [formGroup]="formAll" (ngSubmit)="submitFormAll()">
    Apply to all annotations
    <div class="form-group">
      <label>Font Size</label>
      <input type="number" class="form-control" formControlName="fontsize" style="max-width: 100px;">
    </div>
    <button class="btn btn-sm btn-primary mt-2" type="submit">Apply to all</button>
  </form>
  <div class="container-fluid overflow-auto mt-2" style="max-height: 500px">
    @for (f of forms; track f) {

      <ng-container>
        <form [formGroup]="f">
          <h5>{{f.value["annotationID"]}}</h5>
          <div class="d-flex">
            <div class="p-2">
              <div class="form-check">
                <input class="form-check-input" formControlName="showannotation" type="checkbox">
                <label class="form-check-label">Show Annotation</label>
              </div>
            </div>
            <div class="p-2">
              <div class="form-check">
                <input class="form-check-input" formControlName="showarrow" type="checkbox">
                <label class="form-check-label">Show Arrow</label>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="p-2">
              <div class="form-group">
                <label>Arrow Head Type</label>
                <input type="number" class="form-control" formControlName="arrowhead">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label>Arrow Size</label>
                <input type="number" class="form-control" formControlName="arrowsize">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label>Arrow Width</label>
                <input type="number" class="form-control" formControlName="arrowwidth">
              </div>
            </div>

          </div>
          <div class="d-flex">
            <div class="p-2">
              <div class="form-group">
                <label>X axis offset</label>
                <input type="number" class="form-control" formControlName="ax">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label>Y axis offset</label>
                <input type="number" class="form-control" formControlName="ay">
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="p-2">
              <div class="form-group">
                <label>Font Size</label>
                <input type="number" class="form-control" formControlName="fontsize">
              </div>
            </div>
            <div class="p-2">
              <div class="form-group">
                <label>Font Color</label>
                <input (colorPickerChange)="updateColor($event, f.value['annotationID'])" formControlName="fontcolor" [(colorPicker)]="colorMap[f.value['annotationID']]" class="form-control" [style.background-color]="colorMap[f.value['annotationID']]">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Annotation Text</label>
            <textarea class="form-control" formControlName="text"></textarea>
          </div>
        </form>
        <hr>
      </ng-container>
    }
  </div>
  <button type="button" class="btn btn-primary mb-2" (click)="updateAnnotation.emit(forms)">Update Annotations</button>


}
