<div class="modal-header">
  <h3 class="modal-title">Protein Batch Search</h3>
</div>
<div class="modal-body">
  <div class="row mb-4">
    <div class="col">
    </div>
    <div class="col">
      <!--<div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropDownProteinList" ngbDropdownToggle>Built-in Protein Lists</button>
        <div ngbDropdownMenu aria-labelledby="dropDownProteinList">
          <button ngbDropdownItem *ngFor="let b of filterList" (click)="updateTextArea(b.id)">
            {{b.name}}
          </button>
        </div>
      </div>-->
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="from-group mb-4">
        <input type="text" placeholder="Title" class="form-control" [(ngModel)]="title">
      </div>
      <form [formGroup]="form">
        <div class="form-group">
          <input id="typeahead-basic"
                 [resultTemplate]="rt"
                 [inputFormatter]="formatter"
                 placeholder="Protein/Category search"
                 [class.is-invalid]="searchFailed"
                 type="text" class="form-control"
                 formControlName="searchTerm"
                 (focus)="focusCapture.next($any($event).target.value)"
                 (click)="clickCapture.next($any($event).target.value)"
                 [ngbTypeahead]="search"
                 (selectItem)="selectDataList($event)"
                 #instance="ngbTypeahead"
          />
        </div>
      </form>
      <p>
        -
        Or
        -
      </p>
      <form [formGroup]="formCategories">
        <div class="form-group">
          <label for="category">Builtin category</label>
          <select class="form-control" id="category" formControlName="category">
            <option></option>
            <option *ngFor="let c of categories">{{c}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="subcategory">Builtin sub-category</label>
          <select class="form-control" id="subcategory" formControlName="subcategory">
            <option></option>
            <option *ngFor="let c of subcategories" [value]="c.id">{{c.name}}</option>
          </select>
        </div>
      </form>
      <div class="form-group">
        <label>Identifier type</label>
        <select class="form-control" [(ngModel)]="searchType">
          <option value="Gene Names">
            Gene Names
          </option>
          <option value="Primary IDs">
            Primary IDs
          </option>
        </select>
      </div>
    </div>
    <div class="col-9">
      <textarea [disabled]="params.enableAdvanced" class="form-control mb-2" [(ngModel)]="data" rows="12"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-check">
        <input type="checkbox" [disabled]="params.enableAdvanced" id="significantOnly" class="form-check-input" [(ngModel)]="params.significantOnly">
        <label for="significantOnly" class="form-check-label">Select only significant data according to current volcano plot settings</label>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-sm btn-primary" (click)="saveDataFilterList()">Save</button>
    </div>
    <div class="col-2">
      <button class="btn btn-sm btn-danger" (click)="deleteDataFilterList()" [disabled]="!canDelete">Delete</button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="form-check">
      <input type="checkbox" id="advancedBatch" class="form-check-input" [(ngModel)]="params.enableAdvanced">
      <label for="advancedBatch" class="form-check-label">Enable search within fold change and significant values range</label>
    </div>
  </div>
  <ng-container *ngIf="params.enableAdvanced">
    <div class="row mt-2">
      <div class="form-check">
        <input type="checkbox" id="searchLeft" class="form-check-input" [(ngModel)]="params.searchLeft">
        <label for="searchLeft" class="form-check-label">Enable search on the left side of the volcano plot</label>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="minLeft">Minimum abs(log2FC) on the left side of the volcano plot</label>
        <input id="minLeft" [(ngModel)]="params.minFCLeft"  type="number" class="form-control">
      </div>
      <div class="col">
        <label for="maxLeft">Maximum abs(log2FC) on the left side of the volcano plot</label>
        <input id="maxLeft" [(ngModel)]="params.maxFCLeft" type="number" class="form-control">
      </div>
    </div>
    <div class="row mt-2">
      <div class="form-check">
        <input type="checkbox" id="searchRight" class="form-check-input" [(ngModel)]="params.searchRight">
        <label for="searchRight" class="form-check-label">Enable search on the right side of the volcano plot</label>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="minRight">Minimum abs(log2FC) on the right of the volcano plot</label>
        <input id="minRight" [(ngModel)]="params.minFCRight" type="number" class="form-control">
      </div>
      <div class="col">
        <label for="maxRight">Maximum abs(log2FC) on the right of the volcano plot</label>
        <input id="maxRight" [(ngModel)]="params.maxFCRight" type="number" class="form-control">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <label for="minP">Minimum significant value</label>
        <input [(ngModel)]="params.minP" id="minP" type="number" class="form-control">
      </div>
      <div class="col">
        <label for="maxP">Max significant value</label>
        <input [(ngModel)]="params.maxP" id="maxP" type="number" class="form-control">
      </div>
    </div>
  </ng-container>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="handleSubmit()">Submit</button>
  <button class="btn btn-danger" (click)="close()">Close</button>
</div>

<ng-template #rt let-r="result" let-t="term">
  <div *ngIf="r.default" style="color: #850000">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight><span> </span><ngb-highlight *ngIf="r.data !== ''" [result]="r.data" [term]="t"></ngb-highlight>
  </div>
  <div *ngIf="!r.default" style="color: #9933ff">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight><span> </span><ngb-highlight *ngIf="r.data !== ''" [result]="r.data" [term]="t"></ngb-highlight>
  </div>
</ng-template>
