<div class="container mt-4">
  <ngb-accordion #acc="ngbAccordion" activeIds="searchParameters">
    <ngb-panel id="searchParameters" title="Protein Search Parameters">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-3">
            <input id="searchProteinOrGene" type="text" class="form-control" [(ngModel)]="tableFilterModel" placeholder="Search" [ngbTypeahead]="data.search">
          </div>
          <div class="col-2">
            <select class="form-control" [(ngModel)]="data.searchType">
              <option>
                Gene Names
              </option>
              <option>
                Primary IDs
              </option>
            </select>
          </div>
          <div class="col-1">
            <button class="btn btn-primary" (click)="singleSearchHandle()">
              Search
            </button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="openBatchSearch()">
              Batch Search
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


