.min-height-400 {
  min-height: 400px;
}

.color-input {
  width: 60px;
  height: 35px;
  padding: 2px;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.color-input:hover {
  border-color: #0d6efd;
}
