<div class="form-group">
  <div class="form-row">
    <div class="col-2">
      <label for="significantCutoff">Significant Cut-off</label>
      <input type="number" class="form-control" id="significantCutoff" [(ngModel)]="pCutOff" (focusout)="changeInput($event)">
    </div>
    <div class="col-2">
      <label for="log2Cutoff">Log2FC Cut-off</label>
      <input type="number" class="form-control" id="log2Cutoff" [(ngModel)]="logFCCutoff" (focusout)="changeInput($event)">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="runDBStringAnalysis()">String DB Analysis</button>
    </div>
    <div class="col-2" *ngIf="interactionAnalysisObs|async">
      <button class="btn btn-primary" (click)="viewInteraction(interaction)">View Interaction Analysis Result</button>
    </div>
  </div>
  <div class="form-row">
    <div class="col-3">
      <label for="searchProteinOrGene">Search</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col-2">
      <select class="form-control" [(ngModel)]="searchType">
        <option *ngIf="enableUniprot">
          Gene names
        </option>
        <option>
          Primary IDs
        </option>
        <option *ngIf="enableUniprot">
          Subcellular locations
        </option>
      </select>
    </div>
    <div class="col-2">
      <input id="searchProteinOrGene" type="text" class="form-control" [(ngModel)]="tableFilterModel" placeholder="Search" [ngbTypeahead]="search">
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="findInData($event)">Find in data</button>
    </div>
    <div class="col-2">
      <button class="btn btn-outline-info" (click)="startBatchSelection(content)">Batch selection</button>
    </div>
    <div class="col-2">
      <button class="btn btn-danger" (click)="clearAllSelected($event)">Clear all selected</button>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="viewProfile(profilePlot)">View Profile</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-scatter-plot [data]="drawPack"></app-scatter-plot>
  </div>
  <div class="col-3">
    <h5>Up-regulated protein</h5>
    <div class="card" *ngIf="upRegulated.count() > 0">

      <app-datatable-viewer [tableType]="'up'" [data]="upRegulated"></app-datatable-viewer>
    </div>
  </div>
  <div class="col-3">
    <h5>Down-regulated protein</h5>
    <div class="card" *ngIf="downRegulated.count() > 0">

      <app-datatable-viewer [data]="downRegulated"></app-datatable-viewer>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Batch Selection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-4">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="geneList" ngbDropdownToggle>
            Built-in gene names list
          </button>
          <div ngbDropdownMenu aria-labelledby="geneList">
            <button ngbDropdownItem (click)="getFilter('LRRK2')">
              LRRK2 Pathway
            </button>
            <button ngbDropdownItem (click)="getFilter('Kinases')">
              Kinases
            </button>
            <button ngbDropdownItem (click)="getFilter('Phosphatases')">
              Phosphatases
            </button>
            <button ngbDropdownItem (click)="getFilter('PINK1')">
              PINK1 Pathway
            </button>
            <button ngbDropdownItem (click)="getFilter('PD')">
              PD genes
            </button>
            <button ngbDropdownItem (click)="getFilter('PDGWAS')">
              PD genes from GWAS
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <input [(ngModel)]="selectionTitle" type="text" class="form-control" placeholder="Title">
      </div>
      <div class="col-4">
        <select class="form-control" [(ngModel)]="searchType">
          <option *ngIf="enableUniprot">
            Gene names
          </option>
          <option>
            Primary IDs
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="entryList" class="sr-only">Entries List</label>
      <textarea class="form-control" id="entryList" [(ngModel)]="closeResult" rows="5"></textarea>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="batchSelect(modal)">Submit</button>
  </div>
</ng-template>

<ng-template #profilePlot let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="profile">Profile Plot</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="intensityData.count()> 0">
    <app-profile-plot [data]="intensityData"></app-profile-plot>
  </div>
</ng-template>

<ng-template #interaction let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="interaction">Interaction</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="interactionAnalysisObs|async">
    <app-interaction-datatable></app-interaction-datatable>
  </div>
</ng-template>
