<div class="row mt-2 mb-2">
  <div class="d-flex">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary ml-2" id="dropdownDownload{{_data[dataService.rawForm.primaryIDs]}}" ngbDropdownToggle>Download Plot</button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="download('bar')">Download Bar Chart</button>
        <button ngbDropdownItem (click)="download('average')">Download Average Bar Chart</button>
        <button ngbDropdownItem (click)="download('violin')">Download Violin Plot</button>
        <button ngbDropdownItem (click)="download('all')">Download All Plots</button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <plotly-plot [config]="config" [divId]="_data[dataService.rawForm.primaryIDs]+'bar'" [data]="graphData" [layout]="graphLayout" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
  </div>
</div>
<div class="row mt-2">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <plotly-plot [config]="configAverage" [divId]="_data[dataService.rawForm.primaryIDs]+'average'" [data]="graphDataAverage" [layout]="graphLayoutAverage" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
        <div class="row">
          <div class="col-6">
            <select class="form-control" [(ngModel)]="barChartErrorType" (change)="drawAverageBarChart()">
              <option value="Standard Error">Standard Error</option>
              <option value="Standard Deviation">Standard Deviation</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <plotly-plot [config]="configViolin" [divId]="_data[dataService.rawForm.primaryIDs]+'violin'" [data]="graphDataViolin" [layout]="graphLayoutViolin" [updateOnDataChange]="true" [updateOnLayoutChange]="true"></plotly-plot>
      </div>
    </div>
  </div>
</div>

<div class="mt-2">
  <ngb-accordion>
    <ngb-panel title="Additional Individual Statistical Test">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-3">
            <label for="condition{{_data[dataService.rawForm.primaryIDs]}}">Select conditions</label>
            <select multiple [(ngModel)]="selectedConditions" class="form-control" id="condition{{_data[dataService.rawForm.primaryIDs]}}">
              <option [value]="c" *ngFor="let c of dataService.conditions">
                {{c}}
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="testType{{_data[dataService.rawForm.primaryIDs]}}">Test Type</label>
            <select [(ngModel)]="testType" class="form-control" id="testType{{_data[dataService.rawForm.primaryIDs]}}">
              <option [value]="d" *ngFor="let d of dataService.dataTestTypes">
                {{d}}
              </option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <button class="btn btn-primary" (click)="performTest()">Perform Test</button>
          </div>
        </div>
        <table *ngIf="selectedConditions.length > 0 && comparisons.length > 0" class="mt-2 table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">
              Conditions
            </th>
            <th scope="col">
              Score
            </th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let c of comparisons">
            <tr>
              <td>{{c.conditions.join(",")}}</td>
              <td>{{c.comparison.f | number}}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


