<button class="btn btn-sm btn-outline-info" (click)="downloadPlotlyExtra('svg')">Download {{title}} Bar Chart as SVG</button>
<div class="row" *ngIf="highlighted.length>0">
  <div class="col-3">
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="hideHighlighted{{title}}" class="form-check-input" [(ngModel)]="hideHighlighted" (change)="hideHighlightedHandler()">
        <label for="hideHighlighted{{title}}" class="form-check-label">Hide highlighted samples</label>
      </div>
    </div>
  </div>
  <div class="col-7">
    <p>
      Highlighted samples: {{highlighted.join(",")}}
    </p>
  </div>
</div>
<plotly-plot [divId]="title.replace(';', '')"
             [data]="graphData"
             [layout]="graphLayout"
             [config]="{responsive:true}"
             [updateOnDataChange]="true"
             [updateOnLayoutChange]="true"
             (plotlyClick)="highlightBar($event)"
             (legendClick)="clickLegend($event)"
></plotly-plot>

