<h5>Functional Description</h5>
<p>
  {{_data["Function [CC]"].replace("FUNCTION: ", "")}}
</p>
<app-protein-domain-plot [data]="_data"></app-protein-domain-plot>
<div class="mt-2">
  <table class="table table-borderless" *ngIf="_data['Domain [FT]'].length > 0">
    <thead>
    <tr>
      <th scope="col">
        Start
      </th>
      <th scope="col">
        End
      </th>
      <th scope="col">
        Domain name
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of _data['Domain [FT]']">
      <td>
        {{d.start}}
      </td>
      <td>
        {{d.end}}
      </td>
      <td>
        {{d.name}}
      </td>
    </tr>
  </table>
</div>

<ngb-accordion *ngIf="diseases.length > 0 || pharmaUse.length > 0 || _data['Mutagenesis'].length">
  <ngb-panel title="Involvement in Diseases (UniProt)" *ngIf="diseases.length > 0">
    <ng-template ngbPanelContent>
      <div *ngIf="diseases.length > 0">
        <ul>
          <li *ngFor="let d of diseases">
            {{d}}
          </li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Pharmaceutical use (UniProt)" *ngIf="pharmaUse.length > 0">
    <ng-template ngbPanelContent>
      <div *ngIf="pharmaUse.length > 0">
        <ul>
          <li *ngFor="let d of pharmaUse">
            {{d}}
          </li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Mutagenesis (UniProt)" *ngIf="_data['Mutagenesis'].length > 0">
    <ng-template ngbPanelContent>
      <div *ngIf="_data['Mutagenesis'].length > 0">
        <ul>
          <li *ngFor="let d of _data['Mutagenesis']">
            <b class="text-danger">{{d.position}}</b> - {{d.note}}
          </li>
        </ul>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


