/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~quill/dist/quill.snow.css';
body {
  padding-top: 80px;
  padding-bottom: 40px;
  min-width: 768px;
}
