/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "../node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$min-contrast-ratio: 1;
$primary: #2E2D62;
$secondary: #a4a4a4;
$success:       #7C9D96;
$info:          #8294C4;
$warning:       #FFD6A5;
$danger:        #FF9B9B;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);
.accordion-button:not(.collapsed) {
  color: #FFF  !important;
  background-color: $primary !important;
}


@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/quill/dist/quill.snow.css';

body {
  padding-top: 80px;
  padding-bottom: 40px;
  min-width: 1080px;
}
