<div class="modal-header">
  <h5>Account Information</h5>
</div>
<div class="modal-body">
  <p>
    <b>Username: </b>{{accounts.user_name}}<br>
    <b>Curtain Link Limits: </b><span *ngIf="accounts.curtain_link_limit === 0">infinite</span><span *ngIf="accounts.curtain_link_limit > 0">{{accounts.curtain_link_limit}}</span> <span class="text-danger" *ngIf="accounts.limit_exceed">- Limit Exceed</span> <br>
    <b>Total Curtain Sessions: </b> {{accounts.total_curtain}}
  </p>
  <form [formGroup]="form" (submit)="submit()">
    <div class="form-group">
      <label for="session-search">Search Session Description</label>
      <input type="text" formControlName="sessionDescription" id="session-search" class="form-control">
    </div>
    <button class="btn btn-primary mt-1 mb-1" type="submit">Search</button>
  </form>
  <ng-container *ngIf="totalItems > 0">
    <ngb-pagination [collectionSize]="totalItems" [(page)]="currentPage" [maxSize]="5" [boundaryLinks]="true" class="mt-2" (pageChange)="submit($event)"></ngb-pagination>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">
          Link
        </th>
        <th scope="col">
          Created
        </th>
        <th scope="col">
          Actions
        </th>
      </tr>

      </thead>
      <tbody>
      <ng-container *ngFor="let d of data.results">
        <tr>
          <td>
            <a href="{{base}}/#/{{d.link_id}}" target="_blank">{{d.link_id}}</a>
          </td>
          <td>
            {{d.created}}
          </td>
          <td>
            <button class="btn btn-sm btn-outline-primary" style="margin-right: 2px" (click)="viewDescription(d.link_id)">Description</button>
            <button class="btn btn-sm btn-outline-danger" *ngIf="accounts.can_delete" (click)="deleteLink(d.link_id)">Rm</button>
          </td>
        </tr>
        <tr *ngIf="descriptionTrigger[d.link_id]" class="table-light">
          <td [colSpan]="3">
            <b>Description</b>
            <div [innerHTML]="d.description"></div>
          </td>
        </tr>
        <tr></tr>
      </ng-container>

      </tbody>
    </table>
  </ng-container>

</div>
